body { 
    margin: 0; 
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

header { 
    background:rgb(86, 62, 107); 
    padding: 15px 10%; 
    justify-content: space-between; 
    align-items: center; 
    display: flex; 
    box-shadow: 0 0 10px black; 
    color: white;
}

header nav {
    display: flex; 
    gap: 100px; 
    background: #0f172a;
    color: white;
}

header nav a {
    color: black; 
    text-decoration: none; 
    background: #0f172a;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    color: black;
    background: #0f172a;
    color: white;
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
  background: #0f172a;
}

.allbom{
    background: #0f172a;
}

.se{
    background: #0f172a;
}

.main-image {
  text-align: center;
  margin: 20px 0;
  background: #0f172a;

}

.main-image img {
  width: 60%;
  max-width: 600px;
  border-radius: 16px;
  background: #0f172a;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: #0f172a;
  color: white;
}

.card-link {
  text-decoration: none;
  color: inherit;
  background: #0f172a;
  color: white;

}

.card {
  background: #020617;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: transform 0.3s, box-shadow 0.3s;
  background: #0f172a;
  color: wheat;
 
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 16px 40px rgba(0,0,0,0.6);
  
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  background: rgba(0,0,0,0.8);
}

.card p {
  margin: 0;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  
}